In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from random import randint
from sklearn.ensemble import RandomForestRegressor

In [26]:
population_India=pd.read_excel('C:/data trained flip robo intern/Data trained final assessment/CrimesInIndia.xlsx')

In [27]:
population_India

,Unnamed: 0,States And UT,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2011.1,2012.1
0,1,Uttar Pradesh,166053600.0,169253600,172453600,175653600,178853600,182053600,185253600,188453600,191653600,194853600,198053600,201253600,199581477,204453600
1,2,Maharashtra,96752500.0,98252500,99752500,101252500,102752500,104252500,105752500,107252500,109052500,110852500,112652500,114452500,112372972,116252500
2,3,Bihar,82879910.0,84782157,86684404,88586651,90488898,92391145,94293392,96195639,98097886,100000133,101902380,103702380,103804630,105502380
3,4,West Bengal,80221300.0,81232794,82244288,83255782,84267276,85278770,86290264,87301758,88313252,89324746,90336240,91347734,91347736,92359228
4,10,Andhra Pradesh,75728400.0,78123091,75728400,73333709,70939018,68544327,66149636,63754945,61360254,58965563,56570872,54176181,49386799,51781490
5,6,Tamil Nadu,62111390.0,63022987,63934584,64846181,65757778,66669375,67580972,68492569,69404166,70315763,71227360,72138957,72138958,73050554
6,5,Madhya Pradesh,60385090.0,61495315,62605540,63715765,64825990,65936215,67046440,68156665,69266890,70377115,71487340,72597565,72597565,73707790
7,7,Rajasthan,56473300.0,57577637,58681974,59786311,60890648,61994985,63099322,64203659,65307996,66412333,67516670,68621007,68621012,69725344
8,8,Karnataka,52734986.0,53498233,54261480,55024727,55787974,56551221,57314468,58077715,58840962,59604209,60367456,61130703,61130704,61893950
9,9,Gujarat,50597200.0,51486875,52376550,53266225,54155900,55045575,55935250,56824925,57714600,58604275,59493950,60383625,60383628,61273300
10,11,Odisha,36707900.0,37207900,37707900,38207900,38707900,39207900,39707900,40207900,40707900,41207900,41707900,42207900,41947358,42707900
11,13,Kerala,31839000.0,31979789,32120578,32261367,32402156,32542945,32683734,32824523,32965312,33106101,33246890,33387679,33387677,33528468
12,14,Jharkhand,26946070.0,27495349,28044628,28593907,29143186,29692465,30241744,30791023,31340302,31889581,32438860,32988139,32988134,33537418
13,15,Assam,26638600.0,27050479,27462358,27874237,28286116,28697995,29109874,29521753,29933632,30345511,30757390,31169269,31169272,31581148
14,16,Punjab,24289130.0,24599594,24910058,25220522,25530986,25841450,26151914,26462378,26772842,27083306,27393770,27704234,27704236,28014698
15,17,Haryana,21083900.0,21508371,21932842,22357313,22781784,23206255,23630726,24055197,24479668,24904139,25328610,25753081,25753081,26177552
16,18,Chhattisgarh,20834530.0,21262318,21690106,22117894,22545682,22973470,23401258,23829046,24256834,24684622,25112410,25540198,25540196,25967986
17,UT1,Delhi,13851503.0,10334094,10597888,10861682,11125476,11389270,11653064,11916858,12180652,12444446,12708240,12972034,16753235,13235828
18,19,Jammu and Kashmir,10070300.0,10295630,10520960,10746290,10971620,11196950,11422280,11647610,11872940,12098270,12323600,12548930,12548926,12774260
19,20,Uttarakhand,8489100.0,8637068,8785036,8933004,9080972,9228940,9376908,9524876,9672844,9820812,9968780,10116748,10116752,10264716
20,21,Himachal Pradesh,6077453.0,6148276,6219099,6289922,6360745,6431568,6502391,6573214,6644037,6714860,6785683,6856506,6856509,6927329
21,22,Tripura,3191880.0,3235439,3278998,3322557,3366116,3409675,3453234,3496793,3540352,3583911,3627470,3671029,3671032,3714588
22,23,Meghalaya,2306540.0,2366310,2426080,2485850,2545620,2605390,2665160,2724930,2784700,2844470,2904240,2964010,2964007,3023780
23,24,Manipur,2294480.0,2333323,2372166,2411009,2449852,2488695,2527538,2566381,2605224,2644067,2682910,2721753,2721756,2760596
24,25,Nagaland,1990275.0,1989396,1988517,1987638,1986759,1985880,1985001,1984122,1983243,1982364,1981485,1980606,1980602,1979727
25,26,Goa,1348900.0,1358793,1368686,1378579,1388472,1398365,1408258,1418151,1428044,1437937,1447830,1457723,1457723,1467616
26,27,Arunachal Pradesh,1098328.0,1124172,1150016,1175860,1201704,1227548,1253392,1279236,1305080,1330924,1356768,1382612,1382611,1408456
27,UT2,Puducherry,974820.0,999333,1023846,1048359,1072872,1097385,1121898,1146411,1170924,1195437,1219950,1244463,1244464,1268976
28,UT3,Chandigarh,901080.0,915044,929008,942972,956936,970900,984864,998828,1012792,1026756,1040720,1054684,1054686,1068648
29,28,Mizoram,889690.0,907992,926294,944596,962898,981200,999502,1017804,1036106,1054408,1072710,1091012,1091014,1109314
30,29,Sikkim,541902.0,547883,553864,559845,565826,571807,577788,583769,589750,595731,601712,607693,607688,613674
31,UT4,Andaman and Nicobar Islands,356650.0,358768,360886,363004,365122,367240,369358,371476,373594,375712,377830,379948,379944,382066
32,UT5,Dadra and Nagar Haveli,220963.0,232044,243125,254206,265287,276368,287449,298530,309611,320692,331773,342854,342853,353935
33,UT6,Daman and Diu,158080.0,165792,173504,181216,188928,196640,204352,212064,219776,227488,235200,242912,242911,250624
34,UT7,Lakshadweep,61300.0,61584,61868,62152,62436,62720,63004,63288,63572,63856,64140,64424,64429,64708
35,12,Telangana,NaN,15193978,17012159,18830340,20648521,22466702,24284883,26103064,27921245,29739426,31557607,33375788,35193978,35193969

In [28]:
literacy_India=pd.read_excel('C:/data trained flip robo intern/Data trained final assessment/RS_Session_256_AU_822_2.xlsx')

In [29]:
literacy_India

,Sl. No.,India/States/UTs,Census 2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Census 2011,2012
0,1,Andhra Pradesh,60.47,61.17,61.87,62.57,63.27,63.97,64.67,65.37,66.07,66.77,67.47,67.02,68.17
1,2,Arunachal Pradesh,54.34,55.34,56.34,57.34,58.34,59.34,60.34,61.34,62.34,63.34,64.34,65.38,65.34
2,3,Assam,63.25,64.05,64.85,65.65,66.45,67.25,68.05,68.85,69.65,70.45,71.25,72.19,72.05
3,4,Bihar,47.00,48.50,50.00,51.50,53.00,54.50,56.00,57.50,59.00,60.50,62.00,61.80,63.50
4,5,Chhattisgarh,64.66,65.26,65.86,66.46,67.06,67.66,68.26,68.86,69.46,70.06,70.66,70.28,71.26
5,6,Goa,82.01,82.71,83.41,84.11,84.81,85.51,86.21,86.91,87.61,88.31,89.01,88.70,89.71
6,7,Gujarat,69.14,70.04,70.94,71.84,72.74,73.64,74.54,75.44,76.34,77.24,78.14,78.03,79.04
7,8,Haryana,67.91,68.71,69.51,70.31,71.11,71.91,72.71,73.51,74.31,75.11,75.91,75.55,76.71
8,9,Himachal Pradesh,76.48,77.08,77.68,78.28,78.88,79.48,80.08,80.68,81.28,81.88,82.48,82.80,83.08
9,10,Jammu and Kashmir,55.52,56.72,57.92,59.12,60.32,61.52,62.72,63.92,65.12,66.32,67.52,67.16,68.72
10,11,Jharkhand,53.56,54.76,55.96,57.16,58.36,59.56,60.76,61.96,63.16,64.36,65.56,66.41,66.76
11,12,Karnataka,66.64,67.44,68.24,69.04,69.84,70.64,71.44,72.24,73.04,73.84,74.64,75.36,75.44
12,13,Kerala,90.86,91.16,91.46,91.76,92.06,92.36,92.66,92.96,93.26,93.56,93.86,94.00,94.16
13,14,Madhya Pradesh,63.74,64.24,64.74,65.24,65.74,66.24,66.74,67.24,67.74,68.24,68.74,69.32,69.24
14,15,Maharashtra,76.88,77.38,77.88,78.38,78.88,79.38,79.88,80.38,80.88,81.38,81.88,82.34,82.38
15,16,Manipur,69.93,70.43,70.93,71.43,71.93,72.43,72.93,73.43,73.93,74.43,74.93,76.94,75.43
16,17,Meghalaya,62.56,63.76,64.96,66.16,67.36,68.56,69.76,70.96,72.16,73.36,74.56,74.43,75.76
17,18,Mizoram,88.80,89.00,89.20,89.40,89.60,89.80,90.00,90.20,90.40,90.60,90.80,91.33,91.00
18,19,Nagaland,66.59,67.79,68.99,70.19,71.39,72.59,73.79,74.99,76.19,77.39,78.59,79.55,79.79
19,20,Odisha,63.08,63.98,64.88,65.78,66.68,67.58,68.48,69.38,70.28,71.18,72.08,72.87,72.98
20,21,Punjab,69.65,70.15,70.65,71.15,71.65,72.15,72.65,73.15,73.65,74.15,74.65,75.84,75.15
21,22,Rajasthan,60.41,60.91,61.41,61.91,62.41,62.91,63.41,63.91,64.41,64.91,65.41,66.11,65.91
22,23,Sikkim,68.81,70.11,71.41,72.71,74.01,75.31,76.61,77.91,79.21,80.51,81.81,81.42,83.11
23,24,Tamil Nadu,73.45,74.15,74.85,75.55,76.25,76.95,77.65,78.35,79.05,79.75,80.45,80.09,81.15
24,25,Tripura,73.19,74.69,76.19,77.69,79.19,80.69,82.19,83.69,85.19,86.69,88.19,87.22,89.69
25,26,Uttar Pradesh,56.27,57.37,58.47,59.57,60.67,61.77,62.87,63.97,65.07,66.17,67.27,67.68,68.37
26,27,Uttrakhand,71.62,72.32,73.02,73.72,74.42,75.12,75.82,76.52,77.22,77.92,78.62,78.82,79.32
27,28,West Bengal,68.64,69.44,70.24,71.04,71.84,72.64,73.44,74.24,75.04,75.84,76.64,76.26,77.44
28,29,Andaman and Nicobar Islands,81.30,81.80,82.30,82.80,83.30,83.80,84.30,84.80,85.30,85.80,86.30,86.63,86.80
29,30,Chandigarh,81.94,82.34,82.74,83.14,83.54,83.94,84.34,84.74,85.14,85.54,85.94,86.05,86.34
30,31,Dadra and Nagar Haveli,57.63,59.53,61.43,63.33,65.23,67.13,69.03,70.93,72.83,74.73,76.63,76.24,78.53
31,32,Daman and Diu,78.18,79.08,79.98,80.88,81.78,82.68,83.58,84.48,85.38,87.28,89.18,87.10,91.08
32,33,Delhi,81.67,82.07,82.47,82.87,83.27,83.67,84.07,84.47,84.87,85.27,85.67,86.21,86.07
33,34,Lakshadweep,86.66,87.16,87.66,88.16,88.66,89.16,89.66,90.16,90.66,91.16,91.66,91.85,92.16
34,35,Puducherry,81.24,81.64,82.04,82.44,82.84,83.24,83.64,84.04,84.44,84.84,85.24,85.85,85.64

In [31]:
Area_India=pd.read_excel('C:/data trained flip robo intern/Data trained final assessment/Area State wise.xlsx')

In [32]:
Area_India

      1                             Rajasthan  342239
0     2                        Madhya Pradesh  308252
1     3                           Maharashtra  307713
2     4                         Uttar Pradesh  240928
3     5                               Gujarat  196244
4     6                             Karnataka  191791
5   UT1                                Ladakh  166698
6     7                        Andhra Pradesh  162970
7     8                                Odisha  155707
8     9                          Chhattisgarh  135192
9    10                            Tamil Nadu  130060
10   11                             Telangana  112077
11   12                                 Bihar   94163
12   13                           West Bengal   88752
13   14                     Arunachal Pradesh   83743
14   15                             Jharkhand   79716
15   16                                 Assam   78438
16   17                      Himachal Pradesh   55673
17  UT2                       Jammu & Kashmir   55538
18   18                           Uttarakhand   53483
19   19                                Punjab   50362
20   20                               Haryana   44212
21   21                                Kerala   38852
22   22                             Meghalaya   22429
23   23                               Manipur   22327
24   24                               Mizoram   21081
25   25                              Nagaland   16579
26   26                               Tripura   10486
27  UT3                       A. & N. Islands    8249
28   27                                Sikkim    7096
29   28                                   Goa    3702
30  NCT                                 Delhi    1483
31  UT4  Dadra & Nagar Haveli and Daman & Diu     603
32  UT5                            Puducherry     490
33  UT6                            Chandigarh     114
34  UT7                           Lakshadweep      32